section .intro {
  background: url(https://images.unsplash.com/photo-1515302749441-451f784e996f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7411ef8f4fdd38f325744b0a983578cd&auto=format&fit=crop&w=1498&q=80)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  margin: 100px auto 100px auto;
  max-width: 86%;
}
section .intro .text-area {
  padding: 200px 0;
  text-align: center;
}
section .intro .text-area h1 {
  color: white;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}
section .intro .text-area p {
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  padding: 20px 0 30px 0;
}
section .intro .text-area a {
  color: #fff;
  border: 1px solid #fff;
  /* font-family: "Roboto", sans-serif; */
  font-weight: lighter;
  padding: 10px 15px;
  transition: 0.4s ease-in-out;
}
section .intro .text-area a:hover {
  background: #fff;
  color: #000;
  transition: 0.4s ease-in-out;
}
