@import url('https://fonts.googleapis.com/css?family=Anton:100,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

a{
  color: #a6a2a2;
  text-decoration: none;
}
body{
  font-family: 'Anton', sans-serif;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  .ship{
    background: #181818;
    color: #bdbdbd;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding: 10px 0;
    text-align: center;
  }
  .background{
    background: #fff;
    width: 100%;
    .whitebar{
      margin: 0 auto;
      max-width: 87%;
      padding: 15px 0;
      .logo{
        display: inline-block;
        font-size: 1.5em;
        font-weight: 900;
        a{
          color: black;
          &:hover{
            color: #a6a2a2;
          }
        }
      }
      .cart-menu{
        display: inline-block;
        float: right;
        padding: 5px 5px;
        .cart{
          display: inline-block;
          margin: 0 15px 0 0;
          cursor: pointer;
        }
        .menu{
          display: inline-block;
          color: #000;
          cursor: pointer;
        }
      }
      .list-cart{
        height: 100%;
        list-style: none;
        position: fixed;
        width: 0;
        z-index: 2;
        top: 0;
        right: 0;
        background: #111;
        opacity:0.9;
        overflow: hidden;
        padding: 5px 0 0 0;
        transition: 0.5s ;
        .list-cart-header{
          color: #ccc;
          display:block;
          font-size: 23px;
          padding: 15px 0;
          text-align: center;
          .header{
            color: #ccc;
            display: block;
          }
          .btn-close{
            display: block;
            margin: 0 0 0 10px;
            font-size: 80px;
            text-align: right;
            cursor: pointer;
          }
        }
        .shoppingCart{
          background: #fff;
          color: black;
          padding: 20px 30px;
          height: 80%;
          width: 90%;
          overflow-y: auto;
          #show-cart{
            li{
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              font-family: sans-serif;
              padding: 10px 0;
              .leftBlock{
                display: block;
                grid-colum: 1/2;
                grid-row:1/2;
              }
              .middleBlock{
                display: block;
                grid-column: 2/3;
                grid-row: 1/2;
                h6{
                  font-size: .83em;
                  padding: 2px 0 0 0;
                }
                .count-item{
                  width: 45%;
                }
              }
              .rightBlock{
                grid-column: 3/4;
                grid-row: 1/2;
                justify-self: center;
                button{
                  background: #fff;
                  border: none;
                  cursor: pointer;
                  font-weight: 600;
                }
              }
            }
          }
        }
        li{
          // padding: 10px 30px 10px 10px;
          // font-size: 23px;
          // color: #ccc;
          // display: block;
          // transition: 0.3s;
          // text-align: center;
          a{
            color: #ccc;
            &:hover{
              color: #a6a2a2;
            }
          }
        }
      }
      .side-nav{
        height: 100%;
        list-style: none;
        position: fixed;
        width: 0;
        z-index: 1;
        top: 0;
        right: 0;
        background: #111;
        opacity:0.9;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        .btn-close{
          margin: 0 0 0 200px;
          font-size: 80px;
          text-align: none;
          cursor: pointer;
        }
        li{
          padding: 10px 30px 10px 10px;
          font-size: 22px;
          color: #ccc;
          display: block;
          transition: 0.3s;
          text-align: center;
          a{
            color: #ccc;
            &:hover{
              color: #a6a2a2;
            }
          }
        }
      }
    }

  }
}

section{
  .info{
    background: #181818;
    color: #bdbdbd;
    padding: 60px 0 65px 0;
    .infoWrapper{
      .infoOne{
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 0 0 0 205px;
        text-transform: capitalize;
        p{
          padding: 10px 0;
        }
      }
      .infoTwo{
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 0 0 0 90px;
        p{
          padding: 10px;
        }
      }
    }
    .emailInput{
      display: inline-block;
      float: right;
      padding: 50px 230px 0 0;
      input{
        background: #181818;
        border: none;
        border-bottom: 1px solid #fff;
        margin: 0 5px 0 0;
        padding: 0 80px 11px 0;
      }
      span{
        background: #fff;
        color: #181818;
        cursor: pointer;
        padding: 10px 30px;
        text-transform: uppercase;
        transition: .3s ease-in-out;
        &:hover{
          background: black;
          color: white;
          transition: .3s ease-in-out;
        }
      }
    }
  }
}

footer{
  background: #2e2d2d;
  color: #8f9797;
  padding: 18px;
  text-align: center;
}

@media only screen and (max-width: 600px){
  section{
    .info {
      .infoWrapper{
        text-align: center;
        .infoOne{
          padding: 0 0 0 26px;
        }
        .infoTwo{
          padding: 0 0 30px 59px;
        }
      }
      .emailInput{
        float: none;
        padding: 0;
        input {
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px){
  section{
    .info{
      .emailInput{
        padding: 9px;
      }
    }
  }
}

@media only screen and (max-width: 375px){
  section{
    .info{
      .emailInput{
        padding: 0 0 0 35px;
      }
    }
  }
}

@media only screen and (max-width: 425px){
  section{
    .info{
      .emailInput{
        padding: 15px 0 0 76px;
      }
    }
  }
}
