.intro{
  background: url(../../assets/new.jpg) no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-flow: column;
  height: 92.5vh;
  justify-content: center;
  // .logo-area{
  //   background: #000000d1;
  //   border-radius: 50%;
  //   margin: 0 auto;
  //   text-align: center;
  //   width: 80vw;
  //   img{
  //     width: 70vw;
  //   }
  // }
  .container{
    left: 3.5vw;
    position: relative;
    h3{
      color: white;
      display: flex;
      font-size: 5vw;
      justify-content: center;
      text-shadow:rgba(10, 10, 10, 0.6) 4px 3px 1px;
    }
    .intro-footer{
      margin: 0 auto;
      a{
        background: #000000d1;
        border-radius: 25%;
        color: #fff;
        font-size: 4vw;
        margin: 0 2vw;
        padding: 1vw 2vw;
        text-decoration: none;
        transition: .4s ease-in-out;
        &:hover{
          color: #000000d1;
          background: #fff;
          font-size: 6vw;
          font-weight: bold;
          transition: .4s ease-in-out;
        }
      }
    }
  }
}
@media screen and (min-width: 769px){
  .intro{
    height: -webkit-fill-available;
    position: fixed;
    top: 0;
    width: 100%;
    .container{
      margin-bottom: 4vw;
    }
  }
}
