<div class="about-us" id="aboutus">
  <div class="about-us-container">
    <div class="about-us-header">
      <span>about us</span>
      <div class="about-us-underline">

      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, ut unum falli decore pro. Ad possit invenire dignissim est, deleniti menandri gloriatur mea cu. Est solum propriae singulis ex. Vim id zril adipisci, perfecto electram sea no, id pro nisl augue exerci. Duo ea verear corpora suscipit, prima maiorum consetetur vis ut. Mei at ridens timeam, ex essent omnium pertinacia his, vim enim utinam fabellas ei.</p>

    <p>Id mazim oblique deserunt pri. Cum menandri vituperatoribus ex. Nam ea labitur principes dignissim, no pri regione consulatu. Est modus corrumpit at, solet verear inimicus id vix. Semper prompta pri ei. Ius atqui vidisse an.</p>
  </div>
</div>
