<header>
  <ul>
    <li class="logo">
      <img _ngcontent-c2="" alt="Logo" src="../../assets/logo.svg">
    </li>
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/services">Services</a>
    </li>
    <li>
      <a routerLink="/ourwork">Our Work</a>
    </li>
    <li>
      <a routerLink="/aboutus">About Us</a>
    </li>
    <li>
      <a routerLink="/booking">Booking</a>
    </li>
    <li>
      <a routerLink="/contact">Contact</a>
    </li>
  </ul>
  <div class="toggle">
    <i class="fas fa-bars"></i>
  </div>
  <div class="mobileNav">
    <li>
      <a routerLink="/">Home</a>
      <a routerLink="/services">Services</a>
      <a routerLink="/ourwork">Our Work</a>
      <a routerLink="/aboutus">About Us</a>
      <a routerLink="/booking">Booking</a>
      <a routerLink="/contact">Contact</a>
    </li>
  </div>
</header>
