<div class="services-container" id="service">
  <div class="container">
    <div class="services-header">
      <span>SERVICE</span>
      <div class="service-underline">

      </div>
    </div>
    <div class="services-info">
      <div class="repairs">
        <div class="repairs-img">
          <img src="../../assets/drill.svg" alt="Drill">
        </div>
        <div class="subheading">
          repairs
        </div>
        <div class="body">
            <p>General Repairs, Specialist Repairs, & Vintage Parts</p>
        </div>
      </div>
      <div class="upholstery">
        <div class="upholstery-img">
          <img src="../../assets/car-seat.svg" alt="Car Seat">
        </div>
        <div class="subheading">
          upholstery
        </div>
        <div class="body">
          <p>A Range of Fabrics, Including Vintage Leathers, & Wide Variety of Colors</p>
        </div>
      </div>
      <div class="paintwork">
        <div class="paintwork-img">
          <img src="../../assets/paint-two.svg" alt="">
        </div>
        <div class="subheading">
          paintwork
        </div>
        <div class="body">
          <p>Spray paint, Custom Stencilling, & Variety of Custom Made Artwork</p>
        </div>
      </div>
    </div>
  </div>
</div>
